h6 {
    text-align: center;
    padding: 20px 20px;
    font-size: 25px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
h6:hover{
    background-color: transparent;
    color: #5bdede;
}
.pp1{
    text-align: center;
}
 h2{
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-bottom: 10px;
}
 h2:hover{
    background: transparent;
    color: #58d7e2;
}
.about p {
    max-width: 700px;
    margin: auto;
}

 
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
}

.member {
    position: relative;
    background-color: rgb(150, 174, 202);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.6s ease-out;
    cursor: pointer;
    z-index: 1;
    
}

.member::before {
    content: "";
    position: absolute;
    inset: -3px; 
    background: linear-gradient(45deg, #e07ccc, #7272cf, #69cfcf);
    border-radius: 15px;
    z-index: -1;
    filter: blur(15px);    
    opacity: 0.7;
}

.member:hover{
    background-color: rgb(48, 211, 233);
    color: rgb(193, 227, 188);
}

.member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.member h3 {
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 15px;
}

.member ul {
    list-style: none;
    margin-bottom: 15px;
}

.member ul li {
    position: relative;
    background-color: #1e3c72;
    color: white;
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease;
    z-index: 1;
}

.member ul li::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg, #ff00cc, #00ffff, #3333ff);
    border-radius: 10px;
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: 0.4s ease;
}
.member ul li:hover {
    transform: translateY(-5px);
}

.member ul li:hover::before {
    opacity: 1;
    filter: blur(15px);
}


.member h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.p1{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.hh3{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.8s ease-in-out;
}
.hh3:hover{
    background: transparent;
    color: rgb(29, 78, 185);
}